<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.qkits.bootatisplus.demo.user.mapper.UserMapper">

    <select id="selectUserPage" resultType="io.qkits.bootatisplus.demo.user.entity.User">
        select *
        from user
        <trim prefix="where" prefixOverrides="AND">
            <if test="selectInt != null">
                age &gt; #{selectInt}
            </if>
<!--            <![CDATA[-->
<!--AND STUDENT_ID <= #{joiningDate} -->
<!--]]>-->
            <if test="selectStr != null">
                AND name = #{selectStr}
            </if>
        </trim>
    </select>
    <!-- verify github #1532-->
    <select id="findList" parameterType="io.qkits.bootatisplus.demo.user.entity.User"
            resultType="io.qkits.bootatisplus.demo.user.entity.User">
        select * from user where name like concat(concat('%', #{user.name}), '%')
    </select>

</mapper>